@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

html {
    background-image:url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmY3ZzNsYm05Ynh0NTUxb2w5czRxcTh1ZWplNzV1bzl5NnlqMHJvbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pWhWtKdqwOAco/giphy.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: "Pixelify Sans", system-ui;
    margin-bottom: 20px;
}

.question-card {
    background-color: rgba(0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 25px;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.question-card:hover {
    background-color: rgb(20, 20, 20);
    transform: scale(1.02);
}

.question-card p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.2);
}

button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.answer {
    display: none;
    margin-bottom: 15px;
    color: whitesmoke;
    font-size: 16px;
    font-family: Consolas, monospace;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.answer.show {
    display: block;
    opacity: 1;
    max-height: 15000px;
}

code {
    color: black;
    font-weight: bold;
    background-color:rgb(90, 90, 90);
    padding: 10px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
}
